@import url('src/assets/styles/variables');

.card {
  position: relative;
  background: var(--block-color) !important;
  padding: 32px !important;
  border-radius: 32px;
}
.counter {
  background-color: #fff;
  border-radius: 20px;
  width: 150px;
  font-size: 18px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.modifiedInfo {
  color: @gray-color-1;
  position: absolute;
  bottom: 16px;
  right: 38px;
}
