@import url('src/assets/styles/variables');

.missingQuestionBox {
  margin: 196px auto 0 auto;
}

.textContainer {
  text-align: center;
  margin-bottom: 32px;
  line-height: 35px;
}

// .missingQuestionForm {
//   display: flex;
//   align-items: center;
//   gap: 20px;
// }

.characterLimit {
  padding-left: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.inputStyle {
  font-size: var(--input-font-size);
  border-radius: 20px;
}

.textareaStyle {
  font-size: 12px;
  border-radius: 13px;
}

.heading {
  font-weight: 400;
  font-size: 20px;
}
