@import url('src/assets/styles/variables');

.content {
    border-radius: 20px;
    background: rgba(243, 248, 255, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 18px;
}

.similar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.similarQuestions{
    border-bottom: 1px solid transparent; /* Start with a transparent border */
    background-clip: padding-box; /* Ensure the background doesn't extend into the border area */
    border-image: @primary-color-reverse;
    border-image-slice: 1;
    padding-bottom: 20px;
}

.rate{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rateSubtitel{
    font-size: 10px !important;
}


.instructions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructionsTypes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubeVideoWrapper {
    border: 3px #000;
    border-radius: 20px;
  }


.quickAnswerInput{
    width: 288px;
    border-radius: 20px;
}

.phoneImage{
    height: 315px;
}