@import url('src/assets/styles/variables');

.inputBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 35px;
  color: #aeaeae;
}

.number {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: #51af3d;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.inputItem {
  max-width: 280px;
  border-color: #9fe7cc;
  border-radius: 10px;
}
