.title {
  font-size: 20px;
  background-image: linear-gradient(90deg, #6F95E3 0%, #5DA1D3 15.63%, #4EABC7 33.85%, #38B9B5 47.40%, #23C7A4 61.46%, #1CCE9A 79.17%, #1BD788 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  padding-bottom: 30px;

}
.card {
  border-radius: 20px;
  background: rgba(243, 248, 255, 0.90);
  box-shadow: 0px 4px 4px 0px rgba(243, 248, 255, 0.25) inset, 0px 4px 4px 0px rgba(243, 248, 255, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content {
  color: #606262;
  font-family: Inter;
}

.titleRow {

}