.more,
.title:hover {
  background: @primary-color!important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.card {
  border-radius: 20px;
  background: var(--block-color) !important;
  padding: 32px;
  height: 280px;
}

.content {
  color: var(--text-gray-color);
  font-family: Inter;
  font-size: 14px;
}
