@import url('src/assets/styles/variables');

.popularBox {
  text-align: center;
  height: 200px;
  width: 440px;
  background: linear-gradient(#fff, #fff) padding-box, @primary-color border-box;
  border: 1px solid transparent;
  border-radius: 12px;
}

h2 {
  margin: 16px 0 16px 0;
}

.gradientBorder {
  margin: 0 28px 18px 28px;
  padding-bottom: 18px;

  background: linear-gradient(#fff, #fff) padding-box,
    @primary-color-reverse border-box;
  border-bottom: 1px solid transparent;
}
