.card {
  border-radius: 20px;
  background: var(--block-color) !important;
  padding: 32px;
  height: 180px;
}

.title {
  font-weight: 700 !important;
}

.paragraph {
  color: #6a788a !important;
}
