@import url('src/assets/styles/variables');

.handler {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.inputItem {
  font-size: var(--input-font-size);
  border-color: rgba(81, 175, 61, 0.5);
}

.textBox {
  text-align: center;
  margin-bottom: 36px;
}

.formBox {
  border: 1px solid #95e4cb;
  border-radius: 20px;
  padding: 16px 36px;
}
