@import 'src/assets/styles/index';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
}

/*body {*/
/*    font-family: 'Museo';*/
/*}*/
.ant-layout {
  background: transparent !important;

}
.ant-layout-sider {
  background: transparent !important;
}

.main-layout {
  background-image: url('./assets/images/backgroundImg.jpg');
  background-size: cover;
  min-height: 100vh;
  overflow-y: hidden;
  background-repeat: no-repeat;
}

.sidebar-nav {
  position: relative;
  background-color: #ffffff;
  margin-top: 64px; /* Adjust this value according to the header's height */
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid;
  border-image: @primary-color; /* Replace these colors with your desired gradient */
  border-image-slice: 1;
}

.sidebar-nav::-webkit-scrollbar {
  position: absolute;
  left: 0;
  width: 5px;
  background: @primary-color;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.sidebar-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px; /* Adjust the distance of the border from the right */
  width: 2px; /* Adjust the width of the border */
  background: @primary-color;
}

.submenu {
  width: 100%;
  position: relative;
}
.submenu:hover {
  background: transparent;
}
.submenu::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Adjust the distance of the border from the right */
  height: 2px; /* Adjust the width of the border */
  background: @primary-color;
  width: 100%;
  /*content: '';*/
  /*position: absolute,*/
  /*bottom: 0,*/
  /*left: 0,*/
  /*right: 0,*/
  /*height: 2px,*/
  /*background: linear-gradient(270deg, #99a6f9 0%, #1ccc9e 33.33%, #1ae276 65.10%, #80ff61 100%),*/
}

.layout-content {
  background: var(--background-color);
  padding: 74px 13px; /* Adjust this value according to the header's height */
}

.titleGradient {
  background-image: @primary-color;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.button-primary {
  background: @primary-color!important;
  border: none;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }
}

.button-default {
  border: none;
  outline: none;
  position: relative;
  border-radius: 10px;
  background: @primary-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;

  &:hover {
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  }
}

.button-default:before {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 10px;
  background-color: white;
  z-index: -1;
}

.buttonComponent-right {
  display: inline-flex;
  align-items: center;
  .ant-image {
    margin-left: 10px;
  }
}

.buttonComponent-left {
  flex-direction: row-reverse;
  display: inline-flex;
  align-items: center;
  .ant-image {
    margin-right: 10px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.navAdmin {
  padding: 10px 0;
  font-weight: bold;
}

.navAdminItem {
  font-size: 20px;
  display: flex;
  padding: 10px 0;
  gap: 25px;
  align-items: center;
}

.centerAbsolute {
  top: 50%;
  transform: translateY(-50%);
}

.administration {
  .administration__action {
    float: right;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
      cursor: pointer;

      svg {
        filter:
                invert(4%) sepia(18%) saturate(2093%) hue-rotate(182deg) brightness(98%)
                contrast(94%);
      }
    }

    svg {
      margin: -2px;
    }
  }

  .ant-menu-submenu-arrow {
    display: none;
  }
}
