.fixedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background: transparent;
  border-bottom: 1px solid #51AF3D;
  width: 100%;
  transition: width 0.2s;
}

#root2 {
  background: black;
}
.langMenuItem {
  padding-left: 13px;
  color: #131313;
}

.langMenu {
  box-shadow: none;
  transition: all 0.3s ease;
}