.fixedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  background: var(--background-color);
  border-bottom: 1px solid var(--green-color);
  width: 100%;
  transition: width 0.2s;
}

#root2 {
  background: black;
}
.langMenuItem {
  padding-left: 13px;
  color: #131313;
}

.langMenu {
  box-shadow: none;
  transition: all 0.3s ease;
}

.languageBar {
  font-family: 'MuseoSansCyrl', sans-serif;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  padding: 0px 14px;
  line-height: normal!important;
  display: flex;
  align-items: center;
}
.lang {
  padding: 5px 10px;
  cursor: pointer;
  height: auto;
  color: var(--grey-color)!important;
}
.lang:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.10);
}