@import url('src/assets/styles/variables');
@import url('src/assets/styles/mixins');
@import url('src/assets/styles/typography');

:root {
  --input-font-size: 12px;
  --font-color: #141414;
  --font-size: 14px;
  --input-color: #fff;
  --input-color-read-only: #f0f2f4;
  --input-border-color: #cdcddf;
  --input-border-focus-color: #3457b1;
}

.body-font-small {
  --font-size: 14px;
}

.body-font-medium {
  --font-size: 15px;
}

.body-font-large {
  --font-size: 16px;
}
