@linear-gradient-green:linear-gradient (92deg, #99A6F9 17.90%, #5DA1D3 44.54%, #1CCC9E 61.53%, #1AE276 81.84%, #80FF61 100%);
@linear-gradient-green-2: linear-gradient(90deg, #00f260 0%, #04d4c8 100%);
@linear-gradient-green-disabled: linear-gradient(
  rgba(153, 166, 249, 1),
  rgba(28, 204, 158, 1),
  rgba(26, 226, 118, 1),
  rgba(128, 255, 97, 1)
);
@linear-gradient-green-reverse: linear-gradient(
  270deg,
  #99a6f9 17.9%,
  #5da1d3 44.54%,
  #1ccc9e 61.53%,
  #1ae276 81.84%,
  #80ff61 100%
);
@primary-color: @linear-gradient-green-2;
@primary-color-disabled: @linear-gradient-green-disabled;
@primary-color-reverse: @linear-gradient-green-reverse;

@green-color-1: #13ad64;
@green-color-2: #4ec202;
@green-color-3: #00b323;
@green-color-4: #9debb0;
@gray-color-1: #6a788a;
@gray-color-2: #b2bcc8;
@black-color: #323335;

// background #F3F8FF;;
// gray2 - rgba(255, 255, 255, 0.70)
// green4 - rgba(19, 173, 100, 0.10);

:root {
  --font-description: 18px;
  --pd-1: 16px;
  --pd-2: 16px;
  --m-1: 32px;
  --primary-pd: 16px;
  --card-pd: 32px;
  --card-height: 285px;
  --font-sm: 14px;
  --card-height2: 128px;
  --switch-btn-height: 44px;
  --switch-btn-pd: 12px;
  --mb: 24px;
  --layout-mb: 64px;
  --player-height: 480px;
}

@media (max-width: 768px) {
  :root {
    --pd-1: 8px;
    --pd-2: 12px;
    --m-1: 16px;
    --card-pd: 20px;
    --card-height: 225px;
    --font-sm: 12px;
    --card-height2: auto;
    --switch-btn-height: 36px;
    --switch-btn-pd: 8px;
    --font-description: 16px;
    --mb: 16px;
    --player-height: 360px;
    --layout-mb: 32px;
  }
}
