@linear-gradient-green:linear-gradient(92deg, #99A6F9 17.90%, #5DA1D3 44.54%, #1CCC9E 61.53%, #1AE276 81.84%, #80FF61 100%);
@linear-gradient-green-2: linear-gradient(90deg, #00F260 0%, #04D4C8 100%);
@linear-gradient-green-disabled: linear-gradient(rgba(153, 166, 249, 1), rgba(28, 204, 158, 1), rgba(26, 226, 118, 1), rgba(128, 255, 97, 1));
@linear-gradient-green-reverse: linear-gradient(
  270deg,
  #99a6f9 17.9%,
  #5da1d3 44.54%,
  #1ccc9e 61.53%,
  #1ae276 81.84%,
  #80ff61 100%
);
@primary-color: @linear-gradient-green-2;
@primary-color-disabled: @linear-gradient-green-disabled;
@primary-color-reverse: @linear-gradient-green-reverse;
